<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kTabBarTitleLabel</key>
	<string>0,0,0</string>
	<key>kNaviBarTitleLabel</key>
	<string>0xf5ebb4</string>
	<key>kTableSectionIndexLabel</key>
	<string>250,94,27</string>
	<key>tabBarBGColor</key>
	<string>0xfa5e1b</string>
	<key>tabBarItemColor</key>
	<string>0xfa5e1b</string>
	<key>tabBarItemSelColor</key>
	<string>0xbfd3e8</string>
</dict>
</plist>
