<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kTabBarTitleLabel</key>
	<string>255,255,255</string>
	<key>kNaviBarTitleLabel</key>
	<string>255,255,255</string>
	<key>kTableSectionIndexLabel</key>
	<string>0,0,0</string>
	<key>tabBarBGColor</key>
	<string>0x333333</string>
	<key>tabBarItemColor</key>
	<string>0x333333</string>
	<key>tabBarItemSelColor</key>
	<string>0,0,0</string>
</dict>
</plist>
